<!DOCTYPE html>
<html>
<head>
  <title>Payga</title>
  <%= stylesheet_link_tag    "payga/application", media: "all" %>
  <%= javascript_include_tag "payga/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
